@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
	background-color: darkgreen;
	border: 2px solid #052100;
	border-radius: 16px;
	font-family: Architects Daughter;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	min-width: 256px;
	padding-top: 8px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}
html {
	background-color: #0d0d0d
}
nav ul {
	list-style-type: none;
	background-color: #238200;
	border: 4px solid #111111;
	border-radius: 10px;
	font-family: Architects Daughter;
	font-weight: bold;
	padding: 16px;
}
nav ul li {
	display: inline;
	border-right: 2px solid #111111;
	padding-right: 8px;
	padding-left: 8px;
}
nav ul li:last-child {
	border-right: none;
}
nav ul li a {
	text-decoration: none;
	color: #111111;
}
ha {
	font-size: 50px;
}
section {
	border: 2px solid #111111;
	border-radius: 20px;
	background-color: #0f7000;
	padding: 5px;
}
button {
	background-color: forestgreen;
}