@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
	background-color: darkgreen;
	border: 2px solid #052100;
	border-radius: 16px;
	font-family: Architects Daughter;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	min-width: 256px;
	padding-top: 8px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}
html {
	background-color: black
}